@media (min-width: 1200px) {
  :root {
    background-color: #ffebe3;
  }

  body,
  .background-color-main,
  .searchBell,
  .recent,
  .iconify[data-icon="akar-icons:search"],
  .search {
    background-color: #ffebe3;
  }

  .section#postTemplate {
    margin-left: 7%;
  }
  .iconify [data-icon="fluent:news-20-regular"],
  [data-icon="ph:users-three-light"],
  [data-icon="akar-icons:thunder"],
  [data-icon="bi:person-circle"] {
    margin-right: 1vh;
  }

  .iconify [data-icon="ic:round-logout"] {
    margin-left: 1vh;
  }

  .logo-searchBar,
  .line {
    display: none;
  }

  .searchBar {
    max-height: none;
    width: 75%;
    height: 4.5vw;
    font-size: 1.1rem;
  }

  .iconify[data-icon="akar-icons:search"] {
    height: 5vh;
    width: 5vh;
  }

  .btn-logout,
  .iconify[data-icon="ic:round-logout"] {
    background-color: #ffd2bf;
  }

  .anotherSide-content {
    width: 75%;
    margin-left: 50vh;
  }

  header.esmaeceHeader,
  .logotipo-text,
  .esmaeceHeader-signup,
  .logotipo-text-signup, 
  .header-container {
    display: none;
  }

  .recent {
    font-size: 1.4em;
  }

  .mainSection-background-opacity,
  .content-signup {
    background-image: url(../../img/opacobg.jpeg);
    background-color: var(--color-background);
    background-attachment: fixed;
    background-repeat: repeat-x no-repeat;
    background-position-x: right;
    background-size: 50%;
    padding: 0% 5% 0% 0%;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-direction: row;
    align-items: center;
  }

  .logo-above-bg,
  .logo-above-bg-signup {
    background-image: url(../../img/logo.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 20vw;
    height: 20vw;
    margin-left: 16vw;
  }

  .without-opacity,
  .form-register-responsive {
    filter: none;
    width: 52%;
    height: 100vh;
    background-color: var(--color-background);
  }

  .infos-user {
    margin-top: 10%;
  }

  .login-redirect-signup {
    text-align: left;
    padding-top: 6%;
    font-weight: 600;
    font-size: 1.4vw;
    color: #706f6b;
    text-shadow: 0px 8.32363px 8.32363px rgba(0, 0, 0, 0.1);
  }

  .login-title-community {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    font-size: 1.8vw;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.0168em;
    color: #706f6b;
    text-shadow: 0px 9.00986px 9.00986px rgba(0, 0, 0, 0.1);
  }

  .inputAndReset {
    margin-top: 15%;
  }

  .login-input-email,
  .login-input-password,
  .value-register {
    height: 2vw;
    width: 30vw;
    filter: drop-shadow(0px 4.97967px 3.73476px rgba(0, 0, 0, 0.15));
  }

  .login-input-password {
    margin-bottom: 1.2%;
  }

  .btn-Signup,
  .btn-continue {
    height: 3vw;
    width: 14vw;
    font-size: 1vw;
    margin-bottom: 1.5vw;
    padding: 0.4rem;
  }

  .reset-password {
    margin-right: -38%;
    background-color: var(--color-background);
    font-size: 1em;
    font-weight: 900;
    color: #706f6b;
    letter-spacing: 0.0168em;
  }

  .container-btn-login {
    margin-top: 3.2%;
  }

  button#btn-login {
    height: 8vh;
    width: 33vh;
    font-size: 1.2vw;
    margin-bottom: 0.5vw;
  }

  .btn-reset {
    height: 9vh;
    width: 21vh;
    font-size: 1.3rem;
  }

  .btn-google {
    width: 34vh;
    height: 30%;
    font-size: 1.2vw;
    filter: drop-shadow(0px 5.28302px 5.28302px rgba(0, 0, 0, 0.15));
  }

  img#icon-google {
    width: none;
  }

  p {
    font-size: 1rem;
  }

  /*LANDING PAGES*/
  .background-color-main-signup {
    overflow: hidden;
  }

  .btn-continue-welcome {
    font-size: 1rem;
  }

  .sidebar-content header {
    /* padding-top: 50%; */
    font-size: 1.9rem;
  }

  .sidebar-content p {
    padding-top: 5%;
    font-size: 1.4rem;
  }

  .skipbutton {
    margin-right: 15%;
    margin-top: 2vh;
    padding-bottom: none;
    justify-content: flex-end;
    font-size: large;
  }

  .content-welcome {
    display: inline-flex;
    flex-direction: row;
  }

  .welcome-bar,
  .logotipo {
    width: 50vw;
    padding: 0;
  }

  .welcome-bar {
    margin-top: none;
  }

  .welcome-content header {
    font-size: 2.3rem;
  }

  .welcome-bar-header {
    padding: 18% 0% 7% 0%;
  }

  .welcome-text {
    font-size: 1.5rem;
    text-align: center;
  }

  .btn-continue-welcome {
    height: 4vh;
    width: 20vh;
    margin-top: 33vh;
    padding: 1.5rem;
  }

  .logoimg {
    width: 20vw;
    margin-bottom: 15vw;
  }

  .content-conecte,
  .content-comunique {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  
 .logotipo-conecte-comunique,
 .sidebar {
    width: 50%;
 }

 .logoimg-conecte-comunique {
    padding: 4%;
    margin-top: 3%;
    width: 36%;
 }

 .sidebar-paragraph {
   padding: none;
   padding-bottom: none;
 }

 .btn-continue-landing {
  margin: 14vh 0 2vh 0;
 }

.header-sidebar-landing {
  margin-top: 25vh;
}

.text-comunique {
  padding: 5% 0 6% 0;
}

  /* FEED */
  .mobile-list {
    display: none;
  }

  .mainBox {
    margin: 2% 0;
  }

  .imageCirclePostUser {
    height: 8vh;
    width: 8vh;
    max-height: none;
    max-width: none;
  }

  p.username {
    font-size: 1.3em;
  }

  .container-areaPost {
    width: 93%;
  }

  div#text-post {
    font-size: 1.2em;
  }

  .numLikes,
  .fas,
  .far,
  .fa {
    font-size: 1.3rem;
  }

  .profileSection {
    margin-right: 0;
    width: 75%;
    animation-name: animatemodaldesktop;
    animation-duration: 0.4s;
  }

  @keyframes animatemodaldesktop {
    from {
      bottom: 0;
      opacity: 0;
    }
    to {
      top: 100%;
      opacity: 1;
    }
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  :root {
    background-color: #ffebe3;
  }

  .section#postTemplate {
    margin-left: 7%;
  }
  
  .background-color-main,
  .searchBell,
  .recent,
  .iconify[data-icon="akar-icons:search"],
  .search {
    background-color: #ffebe3;
  }

  .logo-searchBar,
  .line {
    display: none;
  }

  .anotherSide-content {
    width: 75%;
    margin-left: 32vh;
  }

  .btn-logout,
  .iconify[data-icon="ic:round-logout"] {
    background-color: #ffd2bf;
  }

  header.esmaeceHeader,
  .logotipo-text,
  .esmaeceHeader-signup,
  .logotipo-text-signup,
  .header-container {
    display: none;
  }

  .mainSection-background-opacity,
  .content-signup {
    background-image: url(../../img/opacobg.jpeg);
    background-color: var(--color-background);
    background-attachment: fixed;
    background-repeat: repeat-x no-repeat;
    background-position-x: right;
    background-size: 50%;
    padding: 0% 5% 0% 0%;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-direction: row;
    align-items: center;
  }

  .logo-above-bg,
  .logo-above-bg-signup {
    background-image: url(../../img/logo.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 20vw;
    height: 20vw;
    margin-left: 16vw;
  }

  .without-opacity,
  .form-register-responsive {
    filter: none;
    width: 52%;
    height: 100vh;
    background-color: var(--color-background);
  }

  .form-register-responsive {
    margin-top: 0;
  }

  .infos-user {
    margin-top: 25%;
  }

  .login-redirect-signup {
    text-align: left;
    padding-top: 6%;
    font-weight: 600;
    font-size: 1.4vw;
    color: #706f6b;
    text-shadow: 0px 8.32363px 8.32363px rgba(0, 0, 0, 0.1);
  }

  .login-title-community {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    font-size: 1.8vw;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.0168em;
    color: #706f6b;
    text-shadow: 0px 9.00986px 9.00986px rgba(0, 0, 0, 0.1);
  }

  .inputAndReset {
    margin-top: 15%;
  }

  .login-input-email,
  .login-input-password {
    height: 2vw;
    width: 30vw;
    filter: drop-shadow(0px 4.97967px 3.73476px rgba(0, 0, 0, 0.15));
  }

  .value-register {
    height: 5vw;
    width: 30vw;
    filter: drop-shadow(0px 4.97967px 3.73476px rgba(0, 0, 0, 0.15));
  }

  .login-input-password {
    margin-bottom: 1.2%;
  }

  .reset-password {
    margin-right: -38%;
    background-color: var(--color-background);
    font-size: 1em;
    font-weight: 900;
    color: #706f6b;
    letter-spacing: 0.0168em;
  }

  .container-btn-login {
    margin-top: 3.2%;
  }

  .btn-login {
    height: 8vh;
    width: 33vh;
    font-size: 1.2vw;
    margin-bottom: 0.5vw;
  }

  .btn-Signup,
  .btn-continue {
    height: 7vh;
    width: 30vh;
    font-size: 1.5vw;
    margin-bottom: 1.5vw;
  }

  .btn-google {
    width: 34vh;
    height: 30%;
    font-size: 1.2vw;
    filter: drop-shadow(0px 5.28302px 5.28302px rgba(0, 0, 0, 0.15));
  }

  img#icon-google {
    width: none;
  }

  p {
    font-size: 1rem;
  }

  /*LANDING-PAGES*/

  .sidebar-content header {
    padding-top: 30%;
    font-size: 1.6rem;
  }

  .sidebar-content p {
    padding-top: 5%;
    font-size: 1.3rem;
  }

  .logotipo {
    padding: none;
  }
  
  .skipbutton {
    margin-right: 15%;
    justify-content: flex-end;
  }

  .content-welcome {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* align-items: center; */
    justify-content: flex-start;
    height: 100vh;
  }

  .welcome-content {
    height: none;
  }

  .welcome-bar,
  .logotipo {
    width: 50vw;
  }

  .welcome-content header {
    font-size: 2rem;
  }

  .welcome-bar-header {
    padding-bottom: 7vh;
  }

  /* .welcome-bar {
    margin-top: 25%;
  } */

  .welcome-text {
    font-size: 1.5rem;
    text-align: center;
    padding: 18vh 0;
  }

  .btn-continue-welcome {
    height: 6vh;
    width: 20vh;
  }

  .logoimg {
    width: 20vw;
    /* margin-bottom: 35vw; */
  }

  .content-comunique,
  .content-conecte {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
  }

  .logotipo-conecte-comunique {
    width: 45%;
  }

  .logoimg-conecte-comunique {
    width: 45%;
  }

  .sidebar {
    width: 55%;
  }

  .header-sidebar-landing {
    padding-top: 20%;
  }

  .text-conecte,
  .text-comunique {
    padding: 5% 0 12% 0;
  }

  /* FEED */

  div#text-post {
    font-size: 1.4em;
  }

  .mobile-list {
    display: none;
  }

  .profileSection {
    animation-name: animatemodaldesktop;
    animation-duration: 0.4s;
  }

  @keyframes animatemodaldesktop {
    from {
      left: 0;
      opacity: 0;
    }
    to {
      left: 80%;
      opacity: 1;
    }
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  :root {
    background-color: #ffebe3;
  }

  body,
  .background-color-main,
  .searchBell,
  .recent,
  .iconify[data-icon="akar-icons:search"],
  .search {
    background-color: #ffebe3;
  }

  .iconify [data-icon="fluent:news-20-regular"],
  [data-icon="ph:users-three-light"],
  [data-icon="akar-icons:thunder"],
  [data-icon="bi:person-circle"] {
    margin-right: 1vh;
  }

  .iconify [data-icon="ic:round-logout"] {
    margin-left: 1vh;
  }

  .logo-searchBar,
  .line {
    display: none;
  }

  .esmaeceHeader-signup {
    height: 20vh;
  }

  .sectionLogin-header-title {
    padding: 0% 0% 5% 5%;
  }

  .header-title {
    font-size: 2.2em;
  }

  .login-redirect-signup {
    font-size: 1.5em;
    display: flex;
    justify-content: flex-start;
  }

  .mainSectionLogin-background-opacity {
    padding: 0% 5% 5% 5%;
  }

  .inputAndReset {
    margin-top: 40%;
  }

  h3 {
    font-size: 1.8rem;
    padding: 5%;
    color: var(--color-primary);
  }

  .form-register-responsive {
    height: 100vh;
  }

  h2 {
    font-size: 5vw;
    padding-left: 20%;
  }

  .value-register {
    height: 3vw;
    width: 55vw;
  }

  .btn-Signup,
  .btn-continue {
    height: 6vh;
    width: 30vh;
    font-size: 1.2rem;
  }

  .reset-password {
    font-size: 1.2rem;
    margin-right: -27%;
  }

  .btn-login {
    height: 8vh;
    width: 30vh;
    font-size: 1.3rem;
    font-weight: 700;
  }

  .btn-google {
    width: 32%;
  }

  .infos-user {
    margin-top: 30%;
  }

  p {
    font-size: 1.2rem;
  }

  /*LANDING PAGES*/
  .logotipo-mobile {
    display: none;
  }

  .welcome-content {
    margin-top: none;
  }

  .welcome-content header {
    /* padding: 6vh 0; */
    font-size: 1.5rem;
  }

  .welcome-bar-header {
    padding: 6vh 0;
  }

  .welcome-paragraph {
    margin-top: none;
    padding: 0;
  }

  .welcome-text {
    text-align: center;
    padding-top: 6vh;
  }

  .btn-continue-welcome {
    margin-top: 13vh;
    padding: 1rem 1.5rem;
    font-size: 1rem;
  }

  .sidebar-content header {
    padding-top: 14%;
    font-size: 1.4rem;
  }

  .sidebar-content p {
    padding: 5% 0 15% 0;
    text-align: center;
    max-width: none;
  }

  .skipbutton {
    font-size: 1rem;
    margin-right: 15%;
    padding-bottom: 1.5vh;
    justify-content: flex-end;
  }

  .sidebar {
    width: 100%;
    height: none;
  }

  .sidebar-content {
    margin-top: 10vh;
  }
  
  .sidebar-paragraph {
    padding: 12vh 0 5vh 0;
  }

  .logotipo {
    padding: 5% 0;
  }

  .logoimg {
    width: none;
  }

  .logotipo-conecte-comunique {
    display: none;
  }

  /* FEED */
  .mobile-list {
    display: none;
  }

  .recent {
    font-size: 1.3em;
  }

  .btn-logout,
  .iconify[data-icon="ic:round-logout"] {
    background-color: #ffd2bf;
  }

  .anotherSide-content {
    width: 75%;
    margin-left: 28vh;
  }

  div#text-post {
    font-size: 1.25em;
  }

  p.username {
    font-size: 1.3em;
  }

  .imageCirclePostUser {
    height: 7vh;
    width: 7vh;
  }

  .numLikes,
  .fas,
  .far,
  .fa {
    font-size: 1.3em;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  
  .side-navbar, 
  .post-desktop {
    display: none;
  }

  .esmaeceHeader-signup {
    height: 20vh;
  }

  .form-register-responsive {
    height: 100vh;
  }

  h2 {
    font-size: 2rem;
    padding-left: 20%;
  }

  h3 {
    font-size: 1.5rem;
    padding: 5%;
    color: var(--color-primary);
  }

  .infos-user {
    margin-top: 20%;
  }

  .value-register {
    height: 11vw;
    width: 55vw;
  }

  .btn-Signup,
  .btn-continue {
    height: 5vh;
    width: 25vh;
    font-size: 1rem;
  }

  p {
    font-size: 1.1rem;
  }

  /*LANDING PAGES*/
  .logotipo-mobile {
    display: none;
  }
  
  .logotipo {
    padding: 3% 12%;
  }
  
  .logoimg {
    width: 35%;
  }

  .welcome-content {
    margin-top: 0;
    width: 0;
  }

  .welcome-bar-header {
    padding: 7vh 0 3vh 0;
  }
  
  .welcome-paragraph {
    padding: 3.4rem 0;
    margin-top: 0;
  }

  .welcome-text {
    margin-bottom: 13vh;
  }

  .btn-continue-welcome {
    font-size: 0.9rem;
  }

  .sidebar {
    width: 100%
  }

  .sidebar-content header {
    padding-top: 15vh;
    font-size: 1.4rem;
  }

  .sidebar-content p {
    padding-top: 5%;
    max-width: none;
  }

  .skipbutton {
    margin-right: 15%;
    justify-content: flex-end;
  }

  .text-conecte,
  .text-comunique {
    padding: 8% 8% 19% 8%;
    text-align: center;
  }

  /* FEED */
  section#postTemplate {
    width: 90%;
    display: flex;
  }

  .container-areaPost {
    margin-left: 7%;
  }
}

@media (min-width: 320px) and (max-width: 576px) {
  .side-navbar, .post-desktop {
    display: none;
  }

  .esmaeceHeader-signup {
    height: 20vh;
  }

  .sectionLogin-header-title {
    padding: 0% 0% 5% 5%;
  }

  .mainSectionLogin-background-opacity {
    height: 92vh;
  }

  h2 {
    font-size: 2rem;
    padding-left: 20%;
  }

  .form-register-responsive {
    height: 100vh;
  }

  .infos-user {
    margin-top: 10%;
  }

  h3 {
    font-size: 1.4rem;
    padding: 10%;
    color: var(--color-primary);
  }

  .value-register {
    height: 12vw;
    width: 65vw;
  }

  .btn-Signup {
    height: 8vw;
    width: 35vw;
  }

  .login-input-email,
  .login-input-password {
    width: 38vh;
  }

  .btn-login {
    height: 6vh;
    width: 25vh;
    font-weight: 600;
    font-size: 1.25rem;
  }

  .btn-google {
    width: 72%;
  }

  .go-login {
    font-size: 0.9rem;
  }

  .reset-input-layout {
    height: 8vh;
    width: 43vh;
    font-size: 1.1rem;
  }

  .btn-reset {
    height: 7vh;
    width: 19vh;
    font-size: 1.2rem;
  }

  /*LANDING PAGES*/
  .logotipo-mobile {
    display: none;
  }

  .logotipo {
    padding: 25%;
    height: 47vh;
  }

  .welcome-bar{
    height: none;
  }

  .welcome-content {
    margin-top: none;
  }

  .welcome-bar-header {
    font-size: 1.2rem;
    padding-bottom: 2vh;
  }

  .sidebar-content header {
    margin-top: 20%;
    font-size: 1.4rem;
  }

  .welcome-text {
    font-size: 1.2rem;
    text-align: center;
    padding-bottom: 12vh;
  }

  .skipbutton {
    margin-right: 15%;
    justify-content: flex-end;
  }

  .container-areaPost {
    margin-left: 7%;
  }
}
